<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/styles/global.css" />
    <link rel="stylesheet" href="././static/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
  </head>
  <body>
    <div class="desktop-1">
      <section class="desktop-1-inner">
        <div class="frame-parent">
          <div class="voyage-wrapper">
            <h1 class="voyage">Voyage</h1>
          </div>
          <div class="frame-child"></div>
        </div>
      </section>
      <div class="desktop-1-child"></div>
      <img
        class="b9e1ba-ec0d-4242-a8e6-5d2d4cd1-icon"
        alt=""
        src="./static/styles/pic/home_BG.jpg"
      />

      <div class="frame-div">
        <div class="home-parent">
          <button class="home"><a class="link" href="/home">HOME</a></button>
          <button class="tours"><a class="link" href="/tours.html">TOUR</a></button>
          <button class="packages"><a class="link" href="/indexpack.html">PACKAGES</a></button>
          <button class="login"><a class="link" href="/login">LOGIN</a></button>
          <button class="about-us"><a class="link" href="/feedback">FEEDBACK</a></button>
        </div>
      </div>
      <section class="frame-section">
        <div class="frame-item"></div>
      </section>
      <section class="desktop-1-inner1">
        <div class="frame-group">
          <div class="about-voyage-parent">
            <div class="about-voyage">About Voyage</div>
            <div class="voyage-is-a-container">
              <p class="voyage-is-a">
                Voyage is a revolutionary app designed to serve as a
                multifunctional platform bridging the gap between tour companies
                and users, empowering travelers to seamlessly plan, document,
                and share their adventures. At its core, Voyage offers a
                comprehensive suite of features tailored to enhance the travel
                experience from start to finish.
              </p>
              <p class="blank-line">&nbsp;</p>
              <p class="one-of-voyages">
                One of Voyage’s standout features is its intuitive blog creation
                tool, allowing users to chronicle their past travels in
                captivating detail. Through the app’s user-friendly interface,
                travelers can effortlessly compose engaging narratives, share
                anecdotes, and upload stunning visuals to complement their
                stories. Whether it’s recounting a memorable hike in the
                Himalayas or exploring hidden gems in bustling cities, Voyage
                enables users to immortalize their experiences with ease.
              </p>
              <p class="blank-line1">&nbsp;</p>
            </div>
          </div>
          <div class="about-1-wrapper">
            <img
              class="about-1-icon"
              loading="lazy"
              alt=""
              src="./static/public/about-1@2x.png"
            />
          </div>
        </div>
      </section>
      <div class="desktop-1-item"></div>
      <section class="desktop-1-inner2">
        <section class="rectangle-parent">
          <div class="frame-inner"></div>
          <div class="frame-container">
            <div class="what-we-offer-wrapper">
              <div class="what-we-offer">What We Offer</div>
            </div>
            <div class="we-are-the">
              We are the main Co-founders for this project and we offer ,
              different packages and reviews that will provide you the required
              information to plan your vacation and you can leave your feedback
              here at the site.
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-parent1">
              <div class="frame-parent2">
                <img
                  class="group-icon"
                  loading="lazy"
                  alt=""
                  src="./static/public/group-10@2x.png"
                />

                <div class="aravind-s">Aravind S</div>
              </div>
              <div class="frame-parent3">
                <img
                  class="frame-child1"
                  loading="lazy"
                  alt=""
                  src="./static/public/group-11@2x.png"
                />

                <div class="arunjith-k">Arunjith K</div>
              </div>
              <div class="frame-wrapper1">
                <div class="frame-parent4">
                  <img
                    class="frame-child2"
                    loading="lazy"
                    alt=""
                    src="./static/public/group-12@2x.png"
                  />

                  <div class="haridev-s-r">Haridev S R</div>
                </div>
              </div>
              <div class="frame-parent5">
                <img
                  class="frame-child3"
                  loading="lazy"
                  alt=""
                  src="./static/public/group-13@2x.png"
                />

                <div class="tejus-j">Tejus J</div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <section class="desktop-1-inner3">
        <div class="frame-parent6">
          <div class="our-destinations-wrapper">
            <div class="our-destinations">Our Destinations</div>
          </div>
          <div class="frame-parent7">
            <img
              class="frame-child4"
              loading="lazy"
              alt=""
              src="./static/public/group-7@2x.png"
            />

            <img
              class="frame-child5"
              loading="lazy"
              alt=""
              src="./static/public/group-8@2x.png"
            />

            <img
              class="frame-child6"
              loading="lazy"
              alt=""
              src="./static/public/group-6@2x.png"
            />
          </div>
          <div class="graph-network">
            <header class="hierarchy-chain">
              <div class="family-tree">
                <div class="wayanad">Wayanad</div>
                <div class="data-flow">
                  <div class="vagamon">Vagamon</div>
                </div>
                <div class="munnar">Munnar</div>
              </div>
              
            </header>
          </div>
        </div>
      </section>
      <section class="condition-splitter">
        <section class="vector-parent">
          <img class="rectangle-icon" alt="" src="./static/public/rectangle-20.svg" />

          <div class="image-processor">
            <div class="input-filter">
              <div class="happy-customers">Happy Customers</div>
            </div>
            <div class="error-handler">
              <div class="loop-controller">
                <div class="loop-controller-child"></div>
                <div class="travel-and-guidance-container">
                  <p class="blank-line2">&nbsp;</p>
                  <p class="travel-and-guidance">
                    travel and guidance services are very good .I personally
                    really enjoyed the whole trip was a good one
                  </p>
                </div>
              </div>
              <div class="loop-controller1">
                <div class="loop-controller-item"></div>
                <div class="the-whole-trip">
                  the whole trip was well time managed and we got enjoyed really
                  good time through the trip
                </div>
              </div>
              <div class="loop-controller2">
                <div class="loop-controller-inner"></div>
                <div class="a-good-website">
                  a good website for planning and look for the travel budgets
                  and cost so far one of the best
                </div>
              </div>
            </div>
          </div>
          <div class="variable-assigner">
            <div class="if-statement">
              <img
                class="mask-group-icon"
                loading="lazy"
                alt=""
                src="./static/public/mask-group@2x.png"
              />
            </div>
            <div class="while-loop">
              <div class="harisankaran-customer">
                <p class="harisankaran">Harisankaran</p>
                <p class="customer">(Customer)</p>
              </div>
            </div>
            <div class="switch-statement">
              <img
                class="mask-group-icon1"
                alt=""
                src="./static/public/mask-group-1@2x.png"
              />

              <div class="catch-block">
                <div class="nived-krishna-customer-container">
                  <p class="nived-krishna">Nived Krishna</p>
                  <p class="customer1">(Customer)</p>
                </div>
              </div>
            </div>
            <div class="array-processor">
              <img
                class="mask-group-icon2"
                alt=""
                src="./static/public/mask-group-2@2x.png"
              />

              <div class="sarath-ali-customer-container">
                <p class="sarath-ali">Sarath Ali</p>
                <p class="customer2">(Customer)</p>
              </div>
            </div>
          </div>
        </section>
        
      </section>
      <section class="vector-group">
        
      </section>
      <section class="divider">
        <div class="flex-container">
          <div class="grid-container">
            <div class="about-us1">About Us</div>
            <div class="column-container">
              <div class="vector-container">
                <img
                  class="frame-child11"
                  alt=""
                  src="./static/public/rectangle-27.svg"
                />

                <div class="rds-paul-abro-container">
                  <p class="rds-paul-abro">
                    RDS PAUL ABRO RESIDENCY, KACHERYPADY,KOCHI,KERALA
                  </p>
                  <p class="blank-line4">&nbsp;</p>
                  <p class="contact">CONTACT</p>
                  <p class="p">+23 323 43434+1 3232 434 55</p>
                  <p class="blank-line5">&nbsp;</p>
                  <p class="email">EMAIL</p>
                  <p class="voyagecompgmailcom">voyagecomp@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="image">
            <div class="quick-links-wrapper">
              <div class="quick-links">Quick Links</div>
            </div>
            <div class="oval">
              <div class="login-wrapper">
                <div class="login1">Login</div>
              </div>
              <div class="packages1">Packages</div>
            </div>
          </div>
          <div class="fea6773d624000048712b5-1-parent">
            <img
              class="fea6773d624000048712b5-1-icon"
              loading="lazy"
              alt=""
              src="./static/public/60fea6773d624000048712b5-1@2x.png"
            />

            <div class="star">
              <div class="socials">Socials</div>
              <div class="hexagon">
                <div class="paragraph">
                  <img
                    class="new-instagram-logo-white-glyph-icon"
                    loading="lazy"
                    alt=""
                    src="./static/public/newinstagramlogowhiteglyph-1@2x.png"
                  />

                  <img
                    class="twitter-icon-white-transparent"
                    loading="lazy"
                    alt=""
                    src="./static/public/twittericonwhitetransparent0-1@2x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
