<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/styles/globalpack.css" />
    <link rel="stylesheet" href="./static/styles/indexpack.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap"
    />
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>
<body>
    <div class="desktop-1">
        <div class="desktop-1-inner">
            <div class="frame-parent">
                <div class="voyage-wrapper">
                    <button class="voyage"><a class="link" href="\home">Voyage</a></button>
                </div>
                <div class="ellipse-parent">
                    <div class="frame-child"></div>
                    <h1 class="package">PACKAGE</h1>
                </div>
            </div>
        </div>
        <section class="frame-group">
            <div class="ellipse-group">
                <div class="frame-item"></div>
                <div class="frame-wrapper">
                    <div class="frame-container">
                        <form action="/indexpack.html" method="POST">
                            <div class="frame-div">
                                <div class="company-name-wrapper">
                                    <div class="company-name">package Name :</div>
                                </div>
                                <input name="package_name"
                                  class="frame-inner"
                                  placeholder="Type Data Here"
                                  type="text"
                                />
                            </div>
                            <div class="frame-parent1">
                                <div class="company-email-wrapper">
                                    <div class="company-email">Company Email :</div>
                                </div>
                                <input name="company_email"
                                  class="frame-input"
                                  placeholder="Type Data Here"
                                  type="text"
                                />
                            </div>
                            <div class="frame-parent2">
                                <div class="frame-parent3">
                                    <div class="package-provider-wrapper">
                                        <div class="package-provider">Package Provider :</div>
                                    </div>
                                    <input name="package_provider"
                                      class="frame-child1"
                                      placeholder="Type Data Here"
                                      type="text"
                                    />
                                </div>
                                <div class="frame-parent4">
                                    <div class="package-provider-container">
                                        <div class="package-provider1">Package details :</div>
                                    </div>
                                    <textarea name="package_details"
                                      class="frame-textarea"
                                      placeholder="Type Data Here"
                                      rows="10"
                                      cols="19"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="frame-wrapper1">
                                <button type="submit" class="rectangle-parent">
                                    <div class="rectangle-div"></div>
                                    <div class="submit">CREATE</div>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
